//- p Welcome to Cashflow..
//- p Do you have difficulty keeping track of your budget and expenses??
//- i Then CashFlow is for you :)

//- h5 See demo




nav
  div.nav-wrapper
    a(ui-sref="home") CashFlow
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(ui-sref="home") link 1
      li
        a(ui-sref="home") link 2
      li
        a(ui-sref="home") link 3