doctype html

html(lang="en", ng-app="Cashflow") 
  head
    title Cashflow
    link(rel="stylesheet", type="style/css", href="../styles/css/main.css")
    link(rel="stylesheet", type="style/css", href="../lib/materialize/dist/css/materialize.min.css")

  body

    div(ng-include="./partials/header.html")
    div(ui-view)

    script(type="text/javascript", src="../../lib/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="../../lib/angular/angular.js")
    script(type="text/javascript", src="../../lib/angular-ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript", src="../../lib/materialize/dist/js/materialize.min.js")
    script(type="text/javascript", src="../../scripts/appModules.js")
    script(type="text/javascript", src="../../scripts/routes/appRoutes.js")
    script(type="text/javascript", src="../../scripts/controllers/home.client.controller.js")